
@{
    ViewData["Title"] = "Login";
}

<html>
<div class="row">
    @RenderBody()
<style>
    .imgcontainer {
      text-align: center;
      margin-top: 10px;
      margin: 24px;
      width: 100%;
        }
    input[type=text], input[type=password] {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    div{
      text-align: center;
    }
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 14px 50px;
      margin: 8px 0;
      border: none;
     
    }
    div[type=t]{
      background-color: pink;
      width: 50%;
      margin: 50px ;
      padding: 100px 50px;
      text-align: right: 100%;;
    }

</style>
</html> 
<div class="col-md-4" type="t">
        <form style="text-align: left" asp-action="Login" asp-controller="Logins" method="POST">
          <div class="imgcontainer">
            <img src="~/img/edit1.jpg" alt="">
          </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-group">
                <span class="label-input100">Tài Khoản</span>
                <input class="input100" type="text" name="UserName">
                <span class="focus-input100"></span>
              </div>
            <div class="form-group">
                <span class="label-input100">Mật Khẩu</span>
                <input class="input100" type="password" name="PassWord">
                <span class="focus-input100"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form> 
</div>
